<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>로그인 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/sign/sign.css}" />
  </head>
  <body>
  <div id="login-form-wrap">
    <h2>회원가입 하기</h2>
    <form id="login-form">
      <p>
        <input type="text" id="username" name="username" placeholder="닉네임" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="text" id="phone_number" name="phone_number" placeholder="전화번호" required
        ><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" id="password" name="password" placeholder="비밀번호" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" id="re_password" name="re_password" placeholder="비밀번호 확인하기" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
      <p>
        <select name="user_type">
          <option disabled selected value>가입하실 계정의 유형을 선택해주세요</option>
          <option value="customer">손님</option>
          <option value="store">가게</option>
        </select>
      </p>
        <input type="submit" id="login" value="함께해요 ">
      </p>
    </form>

    <div id="create-account-wrap">
      <p>이미 가입하셨나요?  <a href="/">로그인 하기</a><p>
    </div><!--create-account-wrap-->
  </div><!--login-form-wrap-->
  <!-- partial -->
  </body>
</html>
